<html>
<head>Angular JS Controller Example
</head>
<script src="../../script/angular.js"></script>
<script src="../../script/filter.js"></script>
<body>
	<div ng-app="myApp" ng-controller="filterCtrl">
		lower Case
		<ul>
			<li ng-repeat="x in names">{{x.name | lowercase}}</li>
		</ul>

		SORT BY COUNTRY
		<ul>
			<li ng-repeat="x in names | orderBy:'country'">{{ x.name +' --->
				' + x.country }}</li>
		</ul>
		CURRENCY
		<ul>
			<li ng-repeat="x in names ">{{ x.amount | currency }}</li>
		</ul>

	</div>
</body>
</html>
